---
---
<!DOCTYPE html>
<html>
{%- include head.html -%}

<body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
        <div id="app" class="wrapper">
          <div class="cover">
            <div class="visit-msg">
                <% visitMsg %>
            </div>
            <h1 class="greeting">
                <% greeting %>
            </h1>
            <div>I'm Yash.</div>
            <div>Wannabe poet.</div>
          </div>

        <div class="social-banner">
            {%- include social.html -%}
        </div>

        </div>
    </main>
    <!-- {%- include footer.html -%} -->
</body>

{%- include scripts.html -%}

</html>