---
layout: blog-default
---
<div class="home">
	<h1 class="page-heading">Blog</h1>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts reversed -%}
      <li class="post-li">
        <h1 class="post-title">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>
        <p class="post-meta">
          <span>
            {{ post.date | date: "%b %-d, %Y" }}
          </span>
          {%- if post.length -%}
            • <span>{{ post.length }} read</span>
          {%- endif -%}
        </p>
        <div class="post-content">
          <p>
          {%- if post.excerpt -%}
            {{ post.excerpt }}
          {%- endif -%}
          </p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
