html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(135deg,
        #085078,
        #85D8CE);
    background-size: 400% 400%;
    animation: BackgroundGradient 15s ease infinite;
}

/* background gradient animation */
@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

::selection {
    background: rgba(248, 187, 208, 0.5);
}

.container {
    overflow: hidden;
    height: 100%;
    margin: 48px;
    color: white;
    font-size: 24px;
}

.cover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cover .salutation {
    opacity: 0.75;
}

.cover .greeting {
    font-size: 60px;
    line-height: 1.2;
    padding-bottom: 36px;
}

.icon {
    display: inline-block;
    /* TODO: fix this */
    margin-right: 16px;
    height: 24px;
    width: 24px;
    transition: opacity .25s ease-in-out;
}



@media (hover: hover) {
    .icon:hover {
        opacity: 0.5;
    }
}


.icon-github {
    background-image: url('../icons/github.svg');
}

.icon-fb {
    background-image: url('../icons/facebook.svg');
}

.icon-linkedin {
    background-image: url('../icons/linkedin.svg');
}

.social-icons {
    margin-bottom: inherit;
    position: absolute;
    bottom: 0;
}