body {
    font-family: 'Brandon Grotesque';
    font-size: 18px;
    color: #545454;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e836c;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #545454 !important;
    transition: color 0.25s ease-in-out;
}

::selection {
    background: #e0ebe8;
    color: #545454;
}

.site-header {
    background: #deece8;
    border-bottom: none;
}

.site-header .page-link {
    color: #1e836c;
}

.social-media-list {
    margin: 16px 0 16px 0;
}

.social-media-list li {
    display: inline;
}

.social-media-list .svg-icon {
    width: 32px;
    height: 32px;
    // fill: #545454;
}

.social-media-list .svg-icon:hover {
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
}

.site-footer {
    padding: 0;
    border-top: none;
    text-align: center;
}

.footer-author>a {
    color: #1e836c;
    font-weight: bold;
}