@import "mixins/mixins";

body {
  font-family: 'Brandon Grotesque';
  font-size: 18px;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

a {
  color: $primary-color !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $text-color !important;
  transition: color 0.25s ease-in-out;
}

::selection {
  background: $text-selection-bg;
  color: $text-color;
}

@media screen and (max-width: 800px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.site-header {
  background: $header-bg;
  border-bottom: none;
}

.social-media-list {
  margin: 8px;
}

.social-media-list li {
  display: inline;
}

.social-media-list .svg-icon {
  width: 32px;
  height: 32px;
  // fill: #545454;
}

.social-media-list .svg-icon:hover {
  opacity: 0.75;
  transition: opacity 0.2s ease-in-out;
}

.site-footer {
  padding: 0;
  border-top: none;
  text-align: center;
}

.footer-author>a {
  font-weight: bold;
}