/**
 * Taken from @rowanoulton galileo-theme for Travelog.io
 * https://github.com/rowanoulton/galileo-theme/blob/84160134ebd103db3b0cabeb9d09026702bc1cbd/_sass/modules/post/_rules.scss
 */

.post-list-item {
  display: block;
  text-align: center;
}

.post-list-item-excerpt {
  text-align: left;
}

.post-title {
  display: block;
  text-align: center;
  letter-spacing: 0.01em;
}

.post-title a {
  color: $primary-color;
}

.post-meta {
  display: block;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 0.06em;

  padding: 15px;
  margin: 20px 0 25px;
}

.post-content {
  p {
    margin-bottom: 25px;
  }
}

.post-content-location,
.post-content-location-divider {
  float: left;
  margin-right: 4px;
}

.post-content-location {
  font-variant: small-caps;
  letter-spacing: 0.04em;
}

.site-footer .social-media-list {
  padding-left: 15px;
}

.right-arrow {
  color: $text-color;
  margin-left: 6px;
  display: inline-block;
  transition: transform 0.3s ease-in;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    $primary-color,
    $primary-color 50%,
    $text-color 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.right-arrow:hover {
  transform: translateX(4px);
  transition: all 0.8s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}

// fixes right arrow vertical alignment on smaller devices
@media screen and (max-width: 768px) {
  .right-arrow {
    vertical-align: text-bottom;
  }
}

.post-content::after {
  @include retina-background-image("/assets/img/divider");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
  content: "";
  width: 100%;
  max-width: 596px;
  height: 42px;
  display: block;
  margin: 20px auto 28px;

  @include min-breakpoint(640px) {
    margin-top: 5px;
  }
}

.post-image {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;

  // Prevent any whitespace positioning issues
  font-size: 0;

  img,
  video {
    max-width: 100%;
  }

  & + .post-image {
    margin-top: -5px;
  }

  & + p {
    margin-top: 30px;
  }
}

.post-image--split {
  @include min-breakpoint($image-splitting-breakpoint) {
    margin-right: -1 * $post-image-split-gutter;
  }

  img {
    width: 100%;
    display: block;
    margin-bottom: $post-image-split-gutter;

    @include min-breakpoint($image-splitting-breakpoint) {
      width: $post-image-split-width;
      margin-right: $post-image-split-gutter;
      display: initial;
      margin-bottom: 0;
    }

    @include min-breakpoint($desktop-breakpoint) {
      max-width: $post-image-split-max-width;
    }
  }

  .post-image-caption {
    @include min-breakpoint($image-splitting-breakpoint) {
      margin-right: $post-image-split-gutter;
    }
  }
}

.post-image-caption {
  font-size: 16px;
  color: $meta-text-color;

  margin-top: 18px;
  padding: 0 20px;

  margin-bottom: 0 !important;
  text-align: center !important;

  &::after {
    content: "";
    display: block;
    width: 185px;
    margin: 12px auto 18px;
    border-bottom: 3px double $border-color;
  }
}
