html,
body,
#app {
  height: 100%;
}

#app {
  overflow: hidden;
  // padding: 0 48px 0 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app>.cover {
  font-size: 1.25em;
  color: $primary-color;
}

.visit-msg {
  // opacity: 0.85;
  color: $primary-color;
}

.greeting {
  font-size: 3em;
  margin-bottom: 36px;
}

.social-banner {
  margin-top: 24px;
}