---
---
@charset "utf-8";

// Colors
$primary-color: #1e836c;
$text-color: #545454;
$meta-text-color: #828282;
$text-selection-bg: #e0ebe8;
$header-bg: #deece8;
$border-color: rgba(56,56,56, 10.125);

// Breakpoints and Layout
$layout-width: 750px;
$desktop-breakpoint: $layout-width / 0.9;
$post-image-split-max-width: 365px;
$post-image-split-gutter: 20px;
$post-image-split-width: calc(50% - #{$post-image-split-gutter});
$image-splitting-breakpoint: 510px;

// Typography
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/Brandon_reg.otf');
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/Brandon_bld.otf');
	font-weight: bold;
}

// Import partials from `_sass`
@import "base",
		"home",
		"blog",
		"life";