body {
    font-family: 'Brandon Grotesque';
    font-size: 18px;
    color: #545454;
}

h1, h2, h3, h4, h5, h6 {
    color: #1e836c;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #545454;
    transition: color 0.5s ease-in-out;
}

::selection {
    background: #e0ebe8;
    color: #545454;
}